<div class="purplecontainer">
    <div class="text"> Let yourself cry. Take as long as you need </div>
    <button class="btn2" (click)="playSound1()" id="m1">t</button>
    <button class="btn2" (click)="playSound2()" id="m2">e</button>
    <button class="btn2" (click)="playSound3()" id="m3">a</button>
    <button class="btn2" (click)="playSound4()" id="m4">r</button>
    <button class="btn2" (click)="playSound5()" id="m5">s</button>
    <div class="btn" (click)="close()" routerLink="">
        <i> back </i>
    </div>
</div>