<div className="container">
    <mat-grid-list cols="2" rowHeight="4:2.18">
      <mat-grid-tile matRipple routerLink="morning" style="background: linear-gradient(to left top,rgba(249, 249, 109, 0.75),lightblue); color:white">Morning Tears</mat-grid-tile>
      <mat-grid-tile matRipple routerLink="noon" style="background: linear-gradient(to right top,rgba(249, 249, 109, 0.75),orange); color: rgb(255, 85, 119)">Noon Drifting</mat-grid-tile>
      <mat-grid-tile matRipple routerLink="midnight" style="background: linear-gradient(to left bottom,rgba(249, 249, 109, 0.75),purple); color:rgb(0,0,88)">Midnight Dreams</mat-grid-tile>
      <mat-grid-tile matRipple routerLink="afternoon" style="background: linear-gradient(to right bottom,rgba(249, 249, 109, 0.75),crimson); color:rgb(84, 17, 17)">Afternoon Memories</mat-grid-tile>
    </mat-grid-list>
</div>
